<div class='container text-center'>
  <% @tests.each do |test| %>
    <div class="row">
    <div class="col-sm-6 col-md-4">
        <%= link_to test.name, test %>
    </div>
    <div class="col-sm-6 col-md-4">
        <%= link_to test.type, public_send("new_#{test.type}_path") %>
    </div>
    <div class="col-sm-6 col-md-4">
        <%= link_to 'Delete', test, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
  <% end %>
</div>
